/* TOP NAVIGATION BAR */
nav {
  width: 1500px;
  height: 90px;
  background-color: rgb(45, 46, 46);
}
/*  THIS IS THE NEW NAV FUNCTIONALITY */
.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 50px;
  margin-left: 1380px;
  padding-top: 20px;
}

.line {
  display: flex;
  width: 35px;
  height: 6px;
  background: white;
  margin: 5px;
  border-radius: 10px;
  z-index: 12;
}

.nav-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  list-style: none;
  justify-content: center;
  align-items: center;
  background: rgb(132, 149, 167);
  height: 100%;
  width: 100%;
  z-index: 5;
  clip-path: circle(0px at 90% -10%);
  -webkit-clip-path: circle(0px at 90% -10%);
  transition: all 1s ease-out;

  pointer-events: none;
}

.nav-links.open {
  clip-path: circle(0px at 90% -10%);
  -webkit-clip-path: circle(2000px at 90% -10%);
  cursor: pointer;
  pointer-events: auto;
}
li a {
  position: relative;
  font-size: 50px;
  font-family: "Ultra", serif;
  /*padding: 20px; */
  margin: auto;
  color: gold;
  text-decoration: underline;
}

a:hover {
  color: GoldenRod;
}

/*  ^THIS IS THE NEW NAV FUNCTIONALITY */
/* HEADER CIRCLE ELEMENT */
#circle {
  position: absolute;
  top: 30px;
  left: 50px;
  width: 200px;
  height: 200px;
}

#circleHeading {
  position: relative;
  left: -5px;
  top: 25px;
  color: gold;
  font-family: "Ultra", serif;
  text-align: center;
}

::selection {
  color: gold;
  background: lightseagreen;
}

body {
  margin: 0 auto;
  padding: 0 auto;

  background-color: rgb(45, 46, 46);
}

/*----------------------CLOSE BUTTON------------------------ */
#close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50px;
  left: 260px;
}

#closeButton {
  background-color: rgb(132, 149, 167);
  border-style: none;
  color: gold;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  font-weight: bold;
  visibility: hidden;
  transition: all 0.1s ease;
}

#closeButton:hover {
  color: crimson;
  background-color: lightslategray;
}

#closeButton:active {
  transition: all 0.13ms ease;
  color: crimson;
  background-color: crimson;
}

/*----------------------^CLOSE BUTTON------------------------ */

/*DIV FOR BACKGROUND */
#container {
  display: flex;
  flex-direction: row;
  display: block;
  margin: 0 auto;
  margin-top: -90px;
  background-color: rgb(132, 149, 167);
  width: 600px;
  border-radius: 50px;
  visibility: hidden;
}

/*----------------------BUTTON------------------------ */

#drawButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#pullButton {
  background-color: CadetBlue;
  color: Gold;
  font-weight: 1000;
  border-style: none;
  border-radius: 15px;
  cursor: pointer;
  height: 60px;
  width: 90px;
  transition: all 0.35s ease;
  margin: 10px;
}

#pullButton:hover {
  background-color: DarkSlateGrey;
  transform: scale(1.1);
}

#pullButton:active {
  background-color: gold;
}

#addButton {
  background-color: grey;
  color: rgb(85, 83, 83);
  font-weight: 1000;
  border-style: none;
  border-radius: 15px;
  cursor: pointer;
  height: 60px;
  width: 90px;
  transition: all 0.15s ease;
  margin: 10px;
}

#addButton:hover {
  background-color: Grey;
  transform: scale(1.1);
}

#addButton:active {
  background-color: firebrick;
}
/*----------------------^BUTTON_ENDS------------------------*/

/*----------------------^IMAGE_ENDS------------------------*/
#cardImage {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
}

img {
  width: 300px;
  margin-top: 20px;
}
/*----------------------^IMAGE_ENDS------------------------*/
#cardName,
#cardDescription,
#cardKeywords {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*margin-top: 50px;*/
}

#nameGoesHere {
  text-decoration: underline;
  transition: all 0.35s ease;
}

#nameGoesHere:hover {
  font-size: 30px;
}

#descripGoesHere {
  width: 450px;
}

/*------ KEYWORDS----------*/

#kwTab {
  margin: 0 0 0 0;
  transition: all 0.35s ease;
}

#kwTab:hover {
  font-size: 30px;
}

#errorContainer {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
#errorText {
  position: absolute;
  color: rgb(241, 82, 82);
  font-family: "Press Start 2P", cursive;
  opacity: 0;
  transition: all 1s ease;
}

.animationClass {
  opacity: 70;
  transition: all 1s ease;
  animation: upps 1s linear;
}

@keyframes upps {
  0% {
    opacity: 0;
    transform: translateY(0%);
  }
  20% {
    opacity: 5;
  }
  25% {
    opacity: 100;
  }
  to {
    transform: translateY(-450%);
  }
}
